*{
    font-family: sans-serif;
}
body{
    background-color: #c5fae6;
}
.container{
    max-width: 60em;
    margin: 0em auto;
    padding: 0 .5em;
}
.cssbayan__title{
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    padding-top: 1.25em;
    color: #030172;
    text-shadow: 0em 0em .3em;
    letter-spacing: .1em;
    margin-bottom: 1.25em;
}

.accordeon input, .acc__content{
    display: none;
    opacity: 0;
}
.accordeon :checked +  .accordeon__header{
    background-color: #a5f5d6;
    border-radius: .3em;
}
.accordeon :checked + .accordeon__header::after{
    content: '';
    background-image: url(images/icon-open.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: .3em;
    transform: rotate(-90deg);
    cursor: pointer;
    transition: .5s all ease-in-out;
}
.accordeon__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3em 0em 1.3em 1.8em;
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(236, 17, 17);
    border-bottom: .1em solid #645151;
    cursor: pointer;
    position: relative;
    transition: .5s all ease-in-out;
}
.accordeon__header:hover{
    color: rgb(236, 159, 17);
    text-shadow: 0em 0em .1em #ffffff;
    transform: scale(1.01);
    border-bottom: .1em solid rgb(100, 81, 81, 0.1);
    transition: .5s all ease-in-out;
}
.acc__content{
    max-width: 25em;
    max-height: 0em;
    object-fit: cover;
    margin: 0 auto;
    border-radius: .2em;
    margin-top: .2em;
    box-shadow: 0em 0em 1em .1em #fff;
    transition: .5s all ease-out;
}
.accordeon__header::after{
    content: '';
    width: 1em;
    height: 1em;
    background-image: url(images/icon-open.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    right: .3em;
    cursor: pointer;
    transform: rotate(90deg);
    transition: .8s all ease-in-out;
    opacity: 0;
}

.accordeon__header:hover::after {
    transition: .5s all ease-in-out;
    width: 1em;
    height: 1em;
    background-image: url(images/icon-open.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transform: rotate(90deg);
    opacity: .8;
}

.accordeon :checked ~ .acc__content{
    display: block;
    opacity: 1;
    max-height: 25em;
}


/* .accordeon:hover img{
    display: block;
    opacity: 1;

}
 */



