* {
    font-family: sans-serif;
}

body {
    background-color: #c5fae6;
}

.acordeon__header__text {
    display: block;
}

.container {
    max-width: 60em;
    margin: 0em auto;
    padding: 0 .5em;
}

.cssbayan__title {
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    padding-top: 1.25em;
    color: #030172;
    text-shadow: 0em 0em .3em;
    letter-spacing: .1em;
    margin-bottom: 1.25em;
}

.accordeon__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3em 0em 1.3em 1.8em;
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(236, 17, 17);
    border-bottom: .1em solid #645151;
    cursor: pointer;
    position: relative;
    transition: .5s all ease-in-out;
}

.accordeon__header:hover {
    color: rgb(236, 159, 17);
    text-shadow: 0em 0em .1em #ffffff;
    transform: scale(1.01);
    border-bottom: .1em solid rgb(100, 81, 81, 0.1);
    transition: .5s all ease-in-out;
}

.accordeon input,
.acc__content {
    display: none;
    opacity: 0;
}

.acc__content {
    max-width: 25em;
    max-height: 0em;
    object-fit: cover;
    margin: 0 auto;
    border-radius: .2em;
    margin-top: .2em;
    box-shadow: 0em 0em 1em .2em #fff;
    transition: all .7s ease-out;
}

.accordeon__header::after {
    content: '';
    width: 1em;
    height: 1em;
    background-image: url(images/icon-open.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    right: .3em;
    cursor: pointer;
    transform: rotate(90deg);
    transition: .8s all ease-in-out;
    opacity: 0;
}

.accordeon__header:hover::after {
    opacity: .8;
}

.accordeon :checked+.accordeon__header {
    background-color: #a5f5d6;
    border-radius: .3em;
}

.accordeon :checked+.accordeon__header::after {
    transform: rotate(-90deg);
}

.accordeon :checked~.acc__content {
    display: block;
    opacity: 1;
    max-height: 25em;
    transition: .7s;
}

.accordeon:hover img {
    display: block;
    opacity: 1;
}

@media (max-width: 1000px) {
    .accordeon__header {
        line-height: 1.3em;
        padding: 1em 0em 1em 1.3em;
        font-size: 1.3em;
        cursor: default;
    }

    .accordeon__header::after {
        right: .7em;
        width: 0.8em;
        height: 0.8em;
        display: none;
    }

    .accordeon__header:hover {
        color: rgb(236, 17, 17);
        text-shadow: none;
        transform: none;
        border-bottom: .1em solid #645151;
        transition: none;
    }
}

@media (max-width: 840px) {
    .accordeon__header {
        padding: 0.8em 0em 0.8em 0.8em;
    }

    .acordeon__header__text {
        max-width: 36em;
    }

    .cssbayan__title {
        font-size: 1.8em;
        margin-bottom: 0.8em;
    }

    .acc__content {
        max-width: 19em;
    }
}

@media (max-width: 740px) {
    .accordeon__header {
        line-height: 1.2em;
        font-size: 1.1em;
    }

    .cssbayan__title {
        font-size: 1.6em;
    }
}

@media (max-width: 630px) {
    .cssbayan__title {
        font-size: 1.4em;
    }

    .accordeon__header {
        padding: 0.6em 0em 0.6em 0.6em;
    }

    .acc__content {
        max-width: 17em;
    }

    .acordeon__header__text {
        max-width: 29em;
    }
}

@media (max-width: 560px) {
    .cssbayan__title {
        font-size: 1.3em;
    }

    .acc__content {
        max-width: 15em;
    }
}

@media (max-width: 515px) {
    .acordeon__header__text {
        max-width: 22em;
    }

    .accordeon__header {
        font-size: 1em;
    }

    .cssbayan__title {
        padding-top: 1em;
        letter-spacing: .05em;
        font-size: 1.15em;
    }
}

@media (max-width: 420px) {
    .acordeon__header__text {
        max-width: 20em;
    }

    .cssbayan__title {
        font-size: 1em;
    }

    .accordeon__header {
        font-size: .9em;
    }

    .acc__content {
        max-width: 12em;
    }
}

@media (max-width: 320px) {

    .cssbayan__title {
        font-size: .93em;
    }

    .acordeon__header__text {
        max-width: 22em;
    }
}